body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin: 0px;
}

#berryList, #ingredientList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    gap: 10px;
}

input[type="checkbox"] {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    user-select: none;
    line-height: 0px;
    padding: 5px;
    box-sizing: border-box;
}

:checked + label {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 8px;
    padding: 4px;
}

label::before {
    content: "";
    display: flex;
    align-items: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0px;
    right: 0px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 12px;
}

:checked + label::before {
    content: "✓";
    top: -1px;
    right: -1px;
}

label img {
    transition: transform 0.1s;
}

label:active img {
    transform: scale(0.85, 0.85);
    transition: transform 0.1s;
}

.berryListImg, .ingredientListImg {
    width: 50px;
    height: 50px;
}

button {
    color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.1s;
    width: 150px;
}

button:hover {
    background-color: #fcfcfc;
}

button:active {
    transform: scale(0.97, 0.97);
    transition: transform 0.1s;
}

.green {
    border-color: #04AA6D;
}

.green svg {
    color: #04AA6D;
    stroke: #04AA6D;
}

.blue {
    border-color: #008CBA;
}

.blue svg {
    color: #008CBA;
    stroke: #008CBA;
}

.buttonTable, .buttonTable td {
    border: none;
    background-color: white;
    line-height: normal;
    font-weight: bold;
}

.buttonTable td:first-of-type {
    padding-right: 10px;
}

.buttonImg {
    padding-right: 10px;
    display: inline-block;
}

.buttonTxt {
    display: inline-block;
}

table, th, td {
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    border-collapse: collapse;
    border-spacing: 0px;
    background-color: #1a1a17;
    line-height: 0px;
}

th {
    width: 104px;
    height: 104px;
    font-size: x-large;
}

.splus {
    background-color: #ff7f7f;
}

.s {
    background-color: #ffbf7f;
}

.sminus {
    background-color: #ffdf7f;
}

.aplus {
    background-color: #ffff7f;
}

.a {
    background-color: #bfff7f;
}

.aminus {
    background-color: #7fff7f;
}

.bplus {
    background-color: #7fffff;
}

.b {
    background-color: #7fbfff;
}

.bminus {
    background-color: #7f7fff;
}

.cplus {
    background-color: #ff7fff;
}

.c {
    background-color: #bf7fbf;
}

.cminus {
    background-color: #858585;
}

.f {
    background-color: #cfcfcf;
}

.pokemonContainer {
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    margin: 2px;

}

.pokemonImg {
    width: 100px;
    height: 100px;
}

.berryImg {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 33px;
    height: 33px;
}

.ingredientsContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}

.ingredientImg {
    width: 33x;
    height: 33px;
}